html,
body {
  min-height: 100%;
  background-color: #1a1a1d;
  color: #e8e8dc;
  font-family: "Inter", sans-serif;
}

body {
  padding: 32px;
  max-width: 65ch;
  margin: 0 auto;
}

a {
  color: #d1d18a;
}

a:hover {
  text-decoration: unset;
}

h1 {
  font-size: 180%;
}

p {
  line-height: 1.6;
}
